<li>
<% remote_form_for :client_product_customization, client_product_customization,
    :url => { :controller => 'client_product_customizations',
              :action => :update,
              :client_id => client.id,
              :id => client_product_customization.id},
    :html => {:method => :put, :class=>'subform'},
    :update => 'client-product-prices' do |f| %>
  <fieldset>
    <legend style="display:none;">&nbsp;</legend>
    <%= render :partial => '/client_product_customizations/client/form', :locals => {:f => f, :client_product_customization => client_product_customization} unless client.blank?%>
  </fieldset>
<% end %>
</li>