<span class="span-5"><%= t 'activerecord.attributes.client_product_customization.product_id' %></span>
<span class="span-3"><%= t 'activerecord.attributes.client_product_customization.wholesale_price' %></span>
<span class="span-3"><%= t 'activerecord.attributes.client_product_customization.code' %></span>