<%= object_messages(@client) %>
<h1><span><%= t('clients.new_client') %></span></h1>
<%  form_for @client, :url => clients_url do |f| %>
  <fieldset>
    <legend><%= t 'general.new' %><br/></legend>
    <%= render :partial => 'form', :locals => {:f => f} %>
  </fieldset>
<% end %>
