<div id="footer">
  <%= link_to t('footer.mit-license'), 'http://www.opensource.org/licenses/mit-license.php', :rel => "license",  :target => :blank%>
  <%= t('footer.powered_by', :powered_by => link_to('Madrid On Rails', 'http://www.madridonrails.com', :target => :blank)) %>
</div>