<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">  <%= render :partial => '/layouts/page_parts/head' %>  <body>    <div id="content" class="container">      <div id="main">        <%= render :partial => '/layouts/page_parts/navigation' %>        <%= render :partial => '/layouts/page_parts/logo' %>        <div id="data">          <%= @content_for_layout %>        </div>      </div>      <%= render :partial => '/layouts/page_parts/footer' %>    </div>  </body></html>