<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <%= render :partial => '/layouts/page_parts/print/head' %>
  <body>
    <div id="content" class="container">
      <%= @content_for_layout %>
    </div>
    <script>window.print();</script>
  </body>
</html>